XATA_API_KEY=<XataApiKey>

INNGEST_SIGNING_KEY="<>"
INNGEST_EVENT_KEY="<>"

DATABASE_URL="<Prisma Accelerate URL>"
DIRECT_DATABASE_URL="<Xata Direct Postgres URL>"

# Set to 0 in production (via Cloudflare pages dashboard)
INNGEST_DEV=1

OPENAI_API_KEY=<>